langchain
langsmith
pypdf
bs4
arxiv   
pymupdf
wikipedia
langchain_text_splitters
beautifulsoup4
fastapi[standard]
python-dotenv

# providers
youtube-transcript-api
langchain_community
langchain-openai
langchain-google-genai
langchain-ollama
langchain-huggingface
sentence-transformers
langchain-groq
duckduckgo-search

# vector store
langchain-chroma>=0.1.2
faiss-cpu
streamlit



# deployments
langserve[all]

