langchain
langsmith
langchain-openai
# python_dotenv
langchain_community
pypdf
bs4
arxiv   
pymupdf
wikipedia
langchain_text_splitters

python-dotenv

# providers
langchain-openai
langchain-google-genai
langchain-ollama
langchain-huggingface
sentence-transformers

# vector store
chromadb
langchain-chroma>=0.1.4
faiss-cpu


